<style type="text/css">

    h4 {
        text-align: center;
        margin: 0 auto !important;
        color: white;
    }

    .main-carousel {
        margin: 0 auto;
    }

    .carousel-cell.is-selected {
        background: #F00;        
    }

    .carousel-cell {
        width: 120px;
        height: 120px;
        margin: 5px;
        border-radius: 10px;
        border: 5px solid white;
        font-weight: bold;
        color: white;
        line-height: 20px;
        padding-top: 45px;
        counter-increment: none;
        cursor: pointer;
        text-align: center;
        background: transparent url("./images/profile-music-icon.jpg") no-repeat center;
    }

        .carousel-cell:before {
            content: none;
        }

    .flickity-prev-next-button {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: #CC0000;
    }

        .flickity-prev-next-button:hover {
            background: #F00;
        }

        .flickity-prev-next-button .arrow {
            fill: white;
        }

        .flickity-prev-next-button.no-svg {
            color: white;
        }

        .flickity-prev-next-button.previous {
            left: -55px;
        }

        .flickity-prev-next-button.next {
            right: -55px;
        }

    .flickity-page-dots .dot {
        background: #FFF;
        border-radius: 50%;
        opacity: 0.25;
    }

</style>

<h4>@Title</h4>

<div class="main-carousel">
    @foreach (var item in Items)
    {
        <div class="carousel-cell" @onclick="(() => GoToSlide(item.Index))">@item.Name</div>
    }
</div>
